@model IEnumerable<NRC_WEB.Models.Schedule>

@{
    ViewBag.Title = "Schedules";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateSchedule")
</p>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="text-align:center">
                From
            </th>
            <th style="text-align:center">
                To
            </th>
            <th style="text-align:center">
                Duration (In Minutes)
            </th>
            <th style="text-align:center">
                Time Of Day
            </th>
            <th style="text-align:center">
                Train Type
            </th>
            @*<th style="text-align:center">
                    Travel Class
                </th>
                <th style="text-align:center">
                    Price
                </th>
                <th style="text-align:center">
                    Number of Seats
                </th>*@
            <th style="text-align:center">
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           
        <tr>

            <td align="center">
                @item.Name
            </td>
            <td align="center">
                @item.GetFromStationName()
            </td>
            <td align="center">
                @item.GetToStationName()
            </td>
            <td align="center">
                @item.DurationInMinutes
            </td>
            <td align="center">
                @item.TimeOfDay
            </td>
            <td align="center">
                @item.TrainType.Name
            </td>
            @*<td align="center">
                @scheduleTravelClass.TravelClass.Name
            </td>
            <td align="center">
                @scheduleTravelClass.Price.ToString()
            </td>
            <td align="center">
                @scheduleTravelClass.NumberOfSeats.ToString()
            </td>*@
            <td align="center">
                @if (item.IsActive)
                        {
                        <span class="glyphicon glyphicon-ok" style="color:green"></span>
                        }
                        else
                        {
                        <span class="glyphicon glyphicon-remove" style="color:red"></span>
                        }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>

        }
    </tbody>
</table>


    @*<tbody>
        @foreach (var item in Model)
        {
            foreach (var scheduleTravelClass in item.ScheduleTravelClasses.ToList())
            {
                <tr>

                    <td align="center">
                        @item.Name
                    </td>
                    <td align="center">
                        @item.GetFromStationName()
                    </td>
                    <td align="center">
                        @item.GetToStationName()
                    </td>
                    <td align="center">
                        @item.DurationInMinutes
                    </td>
                    <td align="center">
                        @item.TimeOfDay
                    </td>
                    <td align="center">
                        @item.TrainType.Name
                    </td>
                    <td align="center">
                        @scheduleTravelClass.TravelClass.Name
                    </td>
                    <td align="center">
                        @scheduleTravelClass.Price.ToString()
                    </td>
                    <td align="center">
                        @scheduleTravelClass.NumberOfSeats.ToString()
                    </td>
                    <td align="center">
                        @if (item.IsActive)
                        {
                            <span class="glyphicon glyphicon-ok" style="color:green"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" style="color:red"></span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        }
    </tbody>*@


